h1 {
    display: block;
    font-size: 5em;
    background-color: lavender;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:75%;
    font-weight: bold;
}

footer {
    display: block;
    text-align: right;
    font-size: 85%;
}

body{
    background-image: url(https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?cs=srgb&dl=pexels-madison-inouye-1831234.jpg&fm=jpg);
}
